
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

///////////////////////////////////////////////////////////////////////////////
// NAV
///////////////////////////////////////////////////////////////////////////////

.navbar-brand {
  font-weight:bold;
}
.alert {
  margin-top:-22px;
}

////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////

.page-header {
  border-bottom: 1px solid $header-bottom-border-color;
}

///////////////////////////////////////////////////////////////////////////////
// PAGE
///////////////////////////////////////////////////////////////////////////////

div.page-header h1 small {
  margin-left: 2%;
}
.fav_on {
  color: #ffc101;
}
.fav_off {
  color: lightgray;
}

///////////////////////////////////////////////////////////////////////////////
// FOOTER
///////////////////////////////////////////////////////////////////////////////

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
}
.footer hr {
  margin: 18px 0;
}
.footer p {
  margin-left: 15px;
}

///////////////////////////////////////////////////////////////////////////////
// hacks
///////////////////////////////////////////////////////////////////////////////

/* These used on a <p> are a hacks to make the BS3 collapese work smoothley */
/* On an inside of collapsible div, at the bottom*/
.collapse_hack_1 {
  margin: 0;
}
/* Between two blocks with margins */
.collapse_hack_2 {
  margin: 0;
  line-height: 0px;
}