
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

///////////////////////////////////////////////////////////////////////////////
// NAV
///////////////////////////////////////////////////////////////////////////////

.navbar-brand {
  font-weight:bold;
}

.alert {
  margin-top:-22px;
}

////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////

.page-header {
  border-bottom: 1px solid #e0e0e0;
}

///////////////////////////////////////////////////////////////////////////////
// PAGE
///////////////////////////////////////////////////////////////////////////////

div.page-header h1 small {
  margin-left: 2%;
}

.fav_on {
  color: #ffc101;
}

.fav_off {
  color: lightgray;
}