/* CHAPTER STYLE */
@import "variables";
@import "verse";

#chapter_content {
  line-height: 2;
}

////////////////////////////////////////////////////////
// FAQ
////////////////////////////////////////////////////////
.ch_question {
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  cursor:pointer;
}
.ch_answer {
  margin: 0;
}
#faq_form_question {
  color: $text-blue;
}
#user_question_field {
  margin-bottom: 10px;
}
#user_question {
  margin-bottom: 15px;
}
////////////////////////////////////////////////////////
// Bottom Navigation
////////////////////////////////////////////////////////
.b-chapter-bottom-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}


