/* START STYLE */
@import "variables";
@import "verse";

////////////////////////////////////////////////////////
// Headers
////////////////////////////////////////////////////////

h2.start_header {
  text-align: center;
}
h4.start_book_item {
  line-height: 25px;
  padding: 5px 15px !important;
  cursor: pointer;
}
/* The little N next to the chapter title */
.start_n_label {
  vertical-align: super;
  font-size: 50%;
  margin-left: 5px;
}

////////////////////////////////////////////////////////
// Chapters list
////////////////////////////////////////////////////////

.chapters_list {
  margin-left: 30px;
  column-width: 150px;
  margin-bottom: 0px;
}
.chapters_list li {
  line-height: 30px;
  cursor: pointer;
}
.chapters_list li a {
  display: block;
  text-decoration: none;
}
.chapters_list li a:hover {
  background-color: $text-hl;
  text-decoration: none;
  border-radius: $std-radius;
}
.chapter_list_item {
  display: block;
  padding-left: 10px;
}
.chapter_list_item span.label {
  margin-left: 5px;
}

////////////////////////////////////////////////////////
// Fav Verses
////////////////////////////////////////////////////////

.fav_quotes_block {
  margin-left: 20px;
  margin-right: 20px;
}
.favs_quote {
  font-style: italic;
  padding: 5px;
}
.favs_quote_origin {
  font-weight: bold;
  font-size: small;
  margin-bottom: 20px;
}
